.container {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 21px;
}

.login {
  color: grey;
  cursor: pointer;
}

.hamcontainer {
  position: relative;
  height: 20px;
  cursor: pointer;
}

.hamburger {
  position: relative;
  width: 25px;
  height: 2px;
  background-color: lightgrey;
  margin: 10px 0;

}

.hamburger:before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: lightgrey;
  position: absolute;
  top: 7px;
}

.hamburger:after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: lightgrey;
  position: absolute;
  top: 14px;
}

@media (max-width: 1023px) {
  .hamcontainer {
    display: none;
  }
}
