.container {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 14px;
}

.login {
  color: grey;
  text-decoration: none;
  cursor: pointer;
  width: 170px;
}

.hamcontainer {
  position: relative;
  height: 20px;
  cursor: pointer;
}

.hamburger {
  position: relative;
  width: 33px;
  height: 2px;
  background-color: lightgrey;
  margin: 10px 0;

}

.hamburger:before {
  content: "";
  display: block;
  width: 33px;
  height: 2px;
  background-color: lightgrey;
  position: absolute;
  top: 7px;
}

.hamburger:after {
  content: "";
  display: block;
  width: 33px;
  height: 2px;
  background-color: lightgrey;
  position: absolute;
  top: 14px;
}

@media (max-width: 1023px) {
  .container {
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .hamcontainer {
    display: none;
  }
}
