.button {
  appearance: none;
  background: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
  border: none;
  margin: 5px 0;
  font-size: 28px;
  font-weight: 500;
  color: white;
  width: 100%;
  height: 100px;
  cursor: pointer;
  transition: transform .2s;
  position: relative;
  text-decoration: none;
}
.container {
  display: flex;
  height:  100%;
}

.image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s ease-in-out;
}

.flip {
  composes: image;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  display: none;
}

@media (min-width: 1024px) {
  .button {
    position: relative;
    /*height: 300px;*/
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
    transition: background-size .3s ease-in-out;
    cursor: pointer;
    color: grey;
    font-size: 40px;
  }

  .container {
    overflow: hidden;
  }

  .text {
    display: block;
    margin: 4px 0 0;
    font-size: 15px;
    font-family: serif;
    text-align: left;
  }

  .label {
    position: absolute;
    padding: 20px 30px 30px;
    background-color: rgba(255,255,255,0.7);
  }

  .image:hover{
    transform: scale(1.1);
    transition: all .3s ease-in-out;
  }
  .flip:hover {
    transform: scaleY(1.1) scaleX(-1.1);
    transition: all .3s ease-in-out;

  }
}
