.container {
  display: flex;
  margin: 0 100px 0 0;
}

.item {
  color: #525961;
  font-size: 14px;
  padding: 0 15px;
  text-decoration: none;
  font-family: sans-serif;
}

.item:hover {
  color: #ABABAB;
}
