.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: center;
  height: 200px;
  color: white;
  background-image: url("./images/childer.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.name {
font-size: 50px;
font-weight: 400;
margin: 30px 0 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 20px 0;
}

.button {
  appearance: none;
  background: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
  border: none;
  margin: 5px 0;
  font-size: 28px;
  font-weight: 500;
  color: white;
  width: 100%;
  height: 100px;
  cursor: pointer;
  transition: transform .2s;
  position: relative;
}

.button > div {
  display: flex;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
}
.button > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.who-we-are {

}
.who-we-are > div {
  background-image: url("./images/abstract-bokeh-hearts.jpg");
}
.buy-sell {

}
.buy-sell > div {
  background-image: url("./images/psychedelic-night-tram.jpg");
}
.journal {

}
.journal > div {
  background-image: url("./images/colorful-autumn-leaves.jpg");
}
.depot {

}
.depot > div {
  background-image: url("./images/romantic-bokeh-colors.jpg");
}

@media (min-width: 450px) {
  .container {
    background-position: center;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 450px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .menu {
    display: flex;
    align-self: flex-end;
    padding: 10px 60px;
    width: 200px;
    font-family: serif;
    justify-content: space-between;
  }

  .menu-item {
    cursor: pointer;
  }


  .name {
    align-self: center;
    font-size: 80px;
    padding: 12px 80px 50px;
    margin: 0;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(11, 8%);
    grid-template-rows: 49%, 49%;
    grid-gap: 10px 3%;
    margin: 20px 12.5%;
  }

  .button {
    position: relative;
    height: 300px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: background-size .3s ease-in-out;
    cursor: pointer;
  }

  .button > span {
    position: absolute;
  }

  .button:hover > div {
    transform: scale(1.2);
    transition: all .3s ease-in-out;
  }

  .who-we-are {
    grid-column: 1/6;
    grid-row: 1;
  }

  .who-we-are > span {
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }

  .buy-sell {
    grid-column: 6/12;
    grid-row: 1;
  }

  .buy-sell > span {
    top: 20px;
    left: 20px;
    transform: translate(0, 0);
  }

  .journal {
    grid-column: 1/7;
    grid-row: 2;
  }

  .journal > span {
    top: auto;
    bottom: 40px;
    right: 50px;
    transform: translate(0, 0);
  }

  .depot {
    grid-column: 7/12;
    grid-row: 2;
  }

  .depot > span {
    top: auto;
    bottom: 50px;
    left: 30px;
    transform: translate(0%);
  }
}
