.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 20px 0;
}

@media (min-width: 450px) {
  .container {
    background-position: center;
  }
}

@media (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: repeat(12, 6%);
    grid-template-rows: repeat(20, 5% );
    /*grid-gap: 10px 3%;*/
    justify-content: center;
    margin: 60px auto;
    max-width: 1450px;
  }

  .buy {
    grid-column: 1/8;
    grid-row: 1/5;
    width: 420px;
    height: 380px;
  }

  .buy>div:nth-child(2) {
    top: 230px;
    left: calc(100% - 50px);
    transform: translate(0, 0);
  }

  .sell {
    grid-column: 8/14;
    grid-row: 3/8;
    width: 400px;
    height: 360px;
  }

  .sell>div:nth-child(2) {
    top: 120px;
    left: -50px;
    transform: translate(0, 0);
  }

  .depot {
    grid-column: 1/6;
    grid-row: 10/15;
    width: 300px;
    height: 390px;
  }

  .depot>div:nth-child(2) {
    width: 240px;
    top: 60px;
    left: calc(100% - 90px);
    transform: translate(0%);
  }

  .about {
    grid-column: 7/14;
    grid-row: 12/16;
    height: 310px;
    width: 460px;
  }

  .about>div:nth-child(2) {
    width: 155px;
    top: 90px;
    left: -70px;
    transform: translate(0%);
  }

}
.latestnews {
  border-top: 1px solid lightgrey;
  padding: 0 0 10px;
}

.input {
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size: 15px;
  border: 1px solid #ABB0B2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  height: 32px;
  padding: 0px 0.4em;
  display: inline-block;
  margin: 0 20px 0 0;
  width: 350px;
  vertical-align: top;
}

.newsheading {
  text-align: center;
  font-size: 30px;
  color: grey;
  margin: 25px 0 15px;
}

.subscribe {
  border-top: 1px solid grey;
  margin: 0 75px;
}
