

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 20px 0;
}

@media (min-width: 450px) {
  .container {
    background-position: center;
  }
}

@media (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: repeat(13, 5%);
    grid-template-rows: repeat(20, 5% );
    grid-gap: 10px 3%;
    margin: 20px 12.5%;
  }

  .shop {
    grid-column: 1/8;
    grid-row: 1/5;
  }

  .shop>div:nth-child(2) {
    top: 60px;
    left: calc(100% - 50px);
    transform: translate(0, 0);
  }

  .sell {
    grid-column: 10/14;
    grid-row: 2/8;
  }

  .sell>div:nth-child(2) {
    top: 80px;
    left: -80px;
    transform: translate(0, 0);
  }

  .depot {
    grid-column: 1/6;
    grid-row: 10/15;
  }

  .depot>div:nth-child(2) {
    width: 205px;
    top: 60px;
    left: calc(100% - 110px);
    transform: translate(0%);
  }

  .about {
    grid-column: 8/14;
    grid-row: 11/16;
    height: 250px;
    width: 350px;
  }

  .about>div:nth-child(2) {
    width: 150px;
    top: 140px;
    left: -70px;
    transform: translate(0%);
  }
}

.subscribe {
  border-top: 1px solid grey;
  margin: 0 75px;
}
